.alert-msg{
  background: #ffe1e3;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #ff7986;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert-msg.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert-msg.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert-msg.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}

.alert-msg .fa-times-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff7f8b;
  font-size: 30px;
}

.alert-msg .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #e8697b;
}
.alert-msg .close-btn01{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ff9aa2;
  padding: 20px 18px;
  cursor: pointer;
}
.alert-msg .close-btn01:hover{
  background: #ff818b;
}
.alert-msg .close-btn01 .fas{
  color: #fd4c57;
  font-size: 22px;
  line-height: 40px;
}