.alert-msg{
  background: #d6f0fd;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #71c8fe;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert-msg.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert-msg.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert-msg.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}

.alert-msg .fa-info-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #3fb4ff;
  font-size: 30px;
}

.alert-msg .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #6db8e5;
}
.alert-msg .close-btn01{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #9ad8fd;
  padding: 20px 18px;
  cursor: pointer;
}
.alert-msg .close-btn01:hover{
  background: #81d1ff;
}
.alert-msg .close-btn01 .fas{
  color: #40b6fa;
  font-size: 22px;
  line-height: 40px;
}