body{
    overflow-x: hidden;
}
.buttonED {
    transition-duration: 0.4s;
    border-radius: 0.25rem;
}

.edit {
    background-color: #008CBA; 
    color: black; 
    border: 2px solid #008CBA;
}

.edit:hover {
    background-color: white;
    color: black;
}

.del {
    background-color: #f44336; 
    color: black; 
    border: 2px solid #f44336;
}

.del:hover {
    background-color: white;
    color: block;
}

.page {
    text-align: center;
}
.page span {
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    line-height: 13px;
    margin-right: 3px;
    padding: 30px 30px;
    text-decoration: none;
    background: #009999;
    color: #fff;
    margin: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.page span:hover {
    background-color: #009999;
    color: #fff;
}

.page a {
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    line-height: 13px;
    margin-right: 3px;
    padding: 30px 30px;
    text-decoration: none;
    background: #eee;
    color: #999;
    margin: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.page a:hover {
    background-color: #009999;
    color: #fff;
}