
body {
	overflow-x: hidden;
    background: #4AA0DD
}



img {
    /* width: 100%; */
    height: auto;
    width: 800px;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.top-header {
	margin: 0;
	padding: 0;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 1px solid #69C;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 1px solid #69C;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color: #2279BD;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 50px;
}

.menu .image img {
    width: 160px;
    height: 160px;
    border-radius: 10%;
    text-align: center;
}

.menu .author-content {
    margin: 20px 0px 40px 0px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
	/* text-transform: uppercase; */
}

.menu .author-content span {
    font-size: 12px;
    /* text-transform: uppercase; */
    color: #fff;
}



.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 8%;
    -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    -webkit-overflow-scrolling: touch;
    background-color: #2279BD;
    box-sizing: border-box;
    height: 92vh;  
    max-height: 100% !important;
    max-width: 80vw !important;
    min-width: 45px !important;
    outline: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0;
    position: absolute;
    /* top: calc(0px);   */
    width: 13%;
    will-change: transform;
    z-index: 9998 !important;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #2279BD;
    background-color: #fff;
    width: 100%;
    height: 66px;
    text-align: center;
    display: inline-block;
    line-height: 66px;
	font-size: 1.3em;
}


/* Section */

.section {
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    /* min-height: 100%; */
    padding-bottom: 60px;
    /* border-bottom: 3px solid rgba(250, 250, 250, 0.25); */
}

.section-heading {
    text-align: left;
    padding: 60px 0 40px 0;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    max-width: 500px;
    height: 3px;
    background-color: #fff;
    margin: 20px 0;
}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}  